# Dependencias de Node.js
node_modules/

# Archivo de Variables de Entorno
.env

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ============================================
# DIRECTORIOS DE SUBIDA GENERADOS POR USUARIO
# ============================================
public/uploads/